<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>edit user</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>update success</h1>
    <p>更新資料如下</p>
    <div>
        <table>
            <tr>
                <th>username</th>
                <td><%= getUser[0].username %></td>
                <th>e-mail</th>
                <td><%= getUser[0].email %></td>
                <th>birthday</th>
                <td><%= getUser[0].birthday %></td>
            </tr>
        </table>
    </div>
    <a href="/account">log in</a>
</body>
</html>
