<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>sign in</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>To Go List</h1>
<form action="/account/" method="POST">
    <label for="user_name"></label>
    <input type="text" name="user_name" placeholder="username">
    <label for="email"></label>
    <input type="email" name="email" placeholder="email">
    <label for="password"></label>
    <input type="password" name="password" placeholder="password">
    <label for="birthday"></label>
    <input type="date" name="birthday" placeholder="YYYY-MM-DD">
    <button>Sign in</button>
</form>
<a href="/account">Already have an account?</a>
</body>
</html>